.DS_Store
/WidgetsDebug.xcodeproj/project.xcworkspace/xcuserdata/dezinezync.xcuserdatad/UserInterfaceState.xcuserstate
/WidgetsDebug.xcodeproj/project.xcworkspace/xcuserdata/dezinezync.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/WidgetsDebug.ipa
/WidgetsDebug.app.dSYM.zip
/WidgetsDebug.xcodeproj/xcuserdata/dezinezync.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/WidgetsDebug.app
/WidgetsDebug.pkg
/WidgetsDebug.app.zip
WidgetsDebug-*.zip
/DerivedData
/WidgetsDebug.xcodeproj/xcuserdata/dezinezync.xcuserdatad/xcschemes/xcschememanagement.plist